PORT=5001

SUPABASE_URL=https://lpykiedijihzevmbyvyt.supabase.co/
SUPABASE_ANON_KEY=sb_publishable_Z4Q7WJ5lRGJqbFZJmb7J2g_xIpx2e_q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxweWtpZWRpamloemV2bWJ5dnl0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTA1MTY5NywiZXhwIjoyMDkwNjI3Njk3fQ.W30gLDRtNzYTWZoAypdCp6rAznf8MGjfZsmlPVsYiHc

EMAIL_USER=stokvelsd@gmail.com
EMAIL_APP_PASSWORD=sjwdipyoxdehrfhh

FRONTEND_URL=http://localhost:5173,https://stokvel-sd.vercel.app/auth

PAYSTACK_SECRET_KEY=sk_test_c23fa206aa423d91b8d447ca561ad9e7fbee4325

FRED_API_KEY=80919729d82f87496cba11b7b2ad8065
FRED_SA_POLICY_RATE_SERIES_ID=IRSTCB01ZAM156N